<p-toast position="bottom-right" [life]="3000"></p-toast>
<div class="card flex justify-content-center align-items-center h100">
    <p-card header="Giriş Sayfası" subheader="Giriş yapmak için bilgilerinizi doldurunuz" [style]="{ width: '360px' }">
        <ng-template pTemplate="header">
            <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
        </ng-template>
        <input [(ngModel)]="request.userNameOrEmail" pInputText placeholder="Username" [style]="{width: '100%'}"/>
        <div class="mt-2">
            <p-password placeholder="********" [inputStyle]="{width: '325px'}"  [(ngModel)]="request.password" >
                <ng-template pTemplate="header">
                    <h6>Şifre Girin</h6>
                </ng-template>
                <ng-template pTemplate="footer">
                    <p-divider></p-divider>
                    <p class="mt-2">Öneriler</p>
                    <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                        <li>En az bir büyük karakter</li>
                        <li>En az bir küçük karakter</li>
                        <li>En az bir numaratik karakter</li>
                        <li>En az bir özel karakter</li>
                        <li>Minimum 6 karakter</li>
                    </ul>
                </ng-template>
            </p-password>
        </div>
        <div class="mt-2 flex align-items-center gap-1">
            <p-checkbox [(ngModel)]="request.rememberMe" [binary]="true" inputId="ny"></p-checkbox>
            <label for="ny">Beni Hatırla</label>
        </div>
        <ng-template pTemplate="footer">
            <p-button (onClick)="signIn()" label="Giriş Yap" icon="pi pi-user" [style]="{width: '100%'}"></p-button>
            <div class="mt-2 text-center">
               -- Sosyal medya hesabınızla giriş yapın --
            </div>
            <div class="mt-2 flex justify-content-center">
                <asl-google-signin-button type='icon' size='medium'></asl-google-signin-button>
            </div>
        </ng-template>
    </p-card>
</div>